<div class="container">
    <app-search-bar (searchTextEmitter)="onChangeSearchInput($event)"></app-search-bar>
</div>

@if(pokemonResponse$ | async; as pokemonObject) {
    <div class="container grid-container">
        @for(pokemon of pokemonObject.results; track pokemon.name) {
            <app-pokemon-card [pokemonData]="pokemon"></app-pokemon-card>
        }
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-center pb-5">
        <button class="btn btn-dark btn-large me-md-4" type="button" (click)="paginationPrevious()">{{ previousText }}</button>
        <button class="btn btn-dark btn-large" type="button" (click)="paginationNext()">{{ nextText }}</button>
    </div>
}