.header-container {
    width: 100%;
    padding: 1rem;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;

    .pokemon-logo {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 400px;
        }
    }
    
    svg {
        width: 10rem;
        color: rgb(248, 247, 244);
    }

    input {
        width: 50%;
        margin-bottom: 1rem;
    }
}